<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Rz Automate System{% endblock %}</title>
        {% block stylesheets %}
        <link href="{{ asset('/css/bootstrap.min.css') }} " type="text/css" rel="stylesheet" />
        <link href="{{ asset('/css/bootstrap-responsive.min.css') }} " type="text/css" rel="stylesheet" />
        <link href="{{ asset('/css/main.css') }} " type="text/css" rel="stylesheet" />
        <!--[if IE]>
          <link href="{{ asset('/css/jqueryui/jquery-ui.ie.css') }} " type="text/css" rel="stylesheet" />
        <![endif]-->
        <!--[if !IE]><!-->
          <link href="{{ asset('/css/jqueryui/jquery-ui.custom.css') }} " type="text/css" rel="stylesheet" />
        <!--<![endif]-->
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('/js/jquery.min.js') }} " type="text/javascript"></script>
        <script src="{{ asset('/js/bootstrap.min.js') }} " type="text/javascript"></script>
        <script src="{{ asset('/js/jquery-ui.min.js') }} " type="text/javascript"></script>
        <!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
        <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    </head>
    <body data-spy="scroll" data-target=".subnav" data-offset="50" data-twttr-rendered="true">
        {% block body %}{% endblock %}
        <footer class="footer">
          {% block footer %}
          <p>
            Copyright (c) Konstantin Zolotarev 2012
          </p>
          {% endblock %}
        </footer>
        {% block javascripts %}
        {% endblock %}
        <script type="text/javascript">
            {% block js %}{% endblock %}
            jQuery(document).ready(function ($){
                {% block jquery %}{% endblock %}
            });
        </script>
    </body>
</html>
