{% extends '::base.html.twig' %}
{% block body %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="{{ path('_welcome' )}}" class="brand">RzAutomate</a>
            <ul class="nav">
                <li class="active">
                    <a href="#">{{ 'Home' | trans }}</a>
                </li>
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                
                {% endif %}
            </ul>
            <ul class="nav pull-right">
                <li>
                    <span class="navbar-search pull-right">
                        <input type="text" class="search-query span2" id="search" placeholder="{{ 'Search' | trans }}" autocomplete="off">
                        <div id="live-search" class="nav-collapse" style="display: none; "></div>
                    </span>
                </li>
                <li class="divider-vertical"></li>
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <li>
                    <a href="#">
                      <i class="icon-user icon-white"></i>
                      {{ 'Hello' | trans }}&nbsp;{{ app.user.getUsername() }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('fos_user_security_logout') }}">{{ 'Logout' | trans }}</a>
                </li>
                {% else %}
                <li>
                    <a href="{{ path('fos_user_security_login') }}">{{ 'Login' | trans }}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<header class="row">
  <div class="span4">
    <img src="{{ asset('img/logo.png') }}" alt="{{ 'AutoGid' | trans }}"/>
  </div>
</header>
<div class="container main-block">
    {% block container %}{% endblock %}
</div>
{% endblock %}