/* 
    Document   : main
    Created on : May 15, 2012, 7:59:00 PM
    Author     : Konstantin Zolotarev <konstantin.zolotarev@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/
body {
    position: relative;
    padding-top: 50px;
    background-color: #fff;
}


.main-block {
    margin-top: 20px;
}

.center {
  text-align: center;
}

.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #E5E5E5;
}

.current-region {
  margin-right: 10px;
  margin-top: 5px;
}

.both {
  clear: both;
}

.price {
  color: #ff0000;
}