{% extends '::layout.html.twig' %}
{% block container %}
<div class="row">
  <div class="span5">
    <div class="well">
      <ul class="nav nav-list">
        <li class="nav-header">
          {{ 'Select transformator to view statistic' | trans }}
        </li>
        {% for trans in list %}
        <li>
          <a href="{{ path('trans_stat', { id: trans.getId() }) }}">
            {{ trans.getTitle() }}&nbsp;({{ trans.getSerial() }})
            {% if trans.getStatus() == 2 %}
                <span class="label label-important">{{ 'Not connected' | trans }}</span>
            {% elseif trans.getStatus() == 0%}
                <span class="label">{{ 'Offline' | trans }}</span>
            {% elseif trans.getStatus() == 1%}
                <span class="label label-success">{{ 'Online' | trans }}</span>
            {% endif %}
          </a>
        </li>
        {% else %}
        <li>
          <a href="#">{{ 'No transformators available' | trans }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}