{% extends '::layout.html.twig' %}
{% block container %}
<div class="page-header">
  <h1>{{ trans.getTitle()}} <small>{{ trans.getSerial() }}</small></h1>
</div>
{% if trans.getStatus() == 2 %}
<div class="alert alert-error">
    <a class="close" data-dismiss="alert" href="#">×</a>
    {{ 'Transformator is not connected' | trans }}!
</div>
{% endif %}
<div class="row">
  <div class="span4">
    <div class="well" id="currentState">
      <div class="center">
        <img src="{{ asset('/img/loading.gif') }}" alt="{{ 'Loading' | trans }}..." />
        {{ 'Loading' | trans }}...
      </div>
    </div>
  </div>
  <div class="span5">
    <div class="well">
      <h3>{{ 'Current parameters' | trans }}</h3><hr/>
      <div id="gLoading" class="center">
        <img src="{{ asset('/img/loading.gif') }}" alt="{{ 'Loading' | trans }}..." />
        {{ 'Loading' | trans }}...
      </div>
      <div id="gauge"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <div>
      <form class="well form-inline">
        <label for="from">{{ 'From' | trans }}</label>
        <input type="text" id="from" value="{{ "now"|date("Y-m-d") }}" name="from"/>&nbsp;
        <select name="from_h" id="from_h" class="span1">
        {% for i in range(0, 23) %}
            <option value="{{i}}">{{i}}</option>
        {% endfor %}
        </select>&nbsp;:&nbsp;
        <select name="from_m" id="from_m" class="span1">
        {% for i in range(0, 59) %}
            <option value="{{i}}">{{i}}</option>
        {% endfor %}
        </select>
        <label for="to">{{ 'To' | trans }}</label>
        <input type="text" id="to" value="{{ "+1 day"|date("Y-m-d") }}" name="to"/>&nbsp;
        <select name="to_h" id="to_h" class="span1">
        {% for i in range(0, 23) %}
            <option value="{{i}}">{{i}}</option>
        {% endfor %}
        </select>&nbsp;:&nbsp;
        <select name="to_m" id="to_m" class="span1">
        {% for i in range(0, 59) %}
            <option value="{{i}}">{{i}}</option>
        {% endfor %}
        </select>
        <button type="submit" id="reloadStat" class="btn">{{ 'Load' | trans }}</button>
      </form>
    </div>
    <div id="mLoading" class="center">
      <img src="{{ asset('/img/loading.gif') }}" alt="{{ 'Loading' | trans }}..." />
      {{ 'Loading' | trans }}...
    </div>
    <div id="temp_chart"></div>
    <div id="chart_div"></div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart", "gauge"]});
      google.setOnLoadCallback(drawCharts);
      var temp, tempData, tempOpts;
      var stat, statData, statOptions;
      var gauge, gaugeData, gaugeOptions;
      var gaugeCheckInterval;
      var autoUpdateStat = true;
      function drawCharts() {
        drawStatChart();
        drawGaugeChart();
      }
      /**
       * Load statistic
       */
      function drawStatChart() {
        tempData = new google.visualization.DataTable();
        tempData.addColumn('datetime', '{{ 'Date' | trans }}');
        tempData.addColumn('number', '{{ 'Temperature' | trans }}');
        
        statData = new google.visualization.DataTable();
        statData.addColumn('datetime', '{{ 'Date' | trans }}');
        statData.addColumn('number', '{{ 'Diff Protection' | trans }}');
        statData.addColumn('number', '{{ 'Voltage' | trans }}');
        statData.addColumn('number', '{{ 'Amperage' | trans }}');
        {% for data in trans.getParams() %}
        //Temperature
        tempData.addRow([new Date("{{ data.getCreatedAt() }}"), {{ data.getTemperature() }}]);
        //
        statData.addRow([new Date("{{ data.getCreatedAt() }}"), {{ data.getDiffProtection() }}, {{ data.getVoltage() }}, {{ data.getAmperage() }}]);
        {% endfor %}
        tempOpts = {
          title: '{{ 'Transformator Temperature' | trans }}'
        };
        statOptions = {
          title: '{{ 'Transformator Statistic' | trans }}'
        };

        temp = new google.visualization.AreaChart(document.getElementById('temp_chart'));
        stat = new google.visualization.LineChart(document.getElementById('chart_div'));
        google.visualization.events.addListener(stat, 'ready', onReady);
        
        temp.draw(tempData, tempOpts);
        stat.draw(statData, statOptions);
      }

      /**
       * Load current state
       */
      function drawGaugeChart() {
        gaugeData = google.visualization.arrayToDataTable([
          ['t*', 'A', 'V'],
          {% if trans.getLastParam() == false %}
          [0, 0, 0]
          {% else %}
          [{{ trans.getLastParam().getTemperature() }}, {{ trans.getLastParam().getDiffProtection() }}, {{ trans.getLastParam().getVoltage() }}]
          {% endif %}
        ]);

        gaugeOptions = {
          width: 300, height: 120,
          //redFrom: 90, redTo: 150,
          //yellowFrom:75, yellowTo: 90,
          minorTicks: 5
        };
        
        //
        gauge = new google.visualization.Gauge(document.getElementById('gauge'));
        //bind ready event
        google.visualization.events.addListener(gauge, 'ready', onReadyG);

        gauge.draw(gaugeData, gaugeOptions);
        //Check data every 5 sec
        {% if trans.getStatus() == 1 %}
        gaugeCheckInterval = setInterval(updateCurrentParams, 5000);
        {% endif %}
      }

      function updateCurrentParams() {
        jQuery.getJSON("{{ path('rz_main_default_current', {id: trans.getId() }) }}", {}, function(json) {
          gaugeData.setValue(0, 0, json.temperature);
          gaugeData.setValue(0, 1, json.diff_protection);
          gaugeData.setValue(0, 2, json.voltage);
          gauge.draw(gaugeData, gaugeOptions);
          if (autoUpdateStat) {
            tempData.addRow([new Date(), json.temperature]);
            temp.draw(tempData, tempOpts);
            statData.addRow([new Date(), json.diff_protection, json.voltage, json.amperage]);
            stat.draw(statData, statOptions);
          }
        });
      }

      function loadStatByPeriod(startDate, endDate) {
        jQuery.getJSON("{{ path('rz_main_default_period', {id: trans.getId()}) }}", {"start": startDate, "stop": endDate}, function(json) {
          tempData = new google.visualization.DataTable();
          tempData.addColumn('datetime', '{{ 'Date' | trans }}');
          tempData.addColumn('number', '{{ 'Temperature' | trans }}');

          statData = new google.visualization.DataTable();
          statData.addColumn('datetime', '{{ 'Date' | trans }}');
          statData.addColumn('number', '{{ 'Diff Protection' | trans }}');
          statData.addColumn('number', '{{ 'Voltage' | trans }}');
          statData.addColumn('number', '{{ 'Amperage' | trans }}');
          for(var i = 0; i < json.length; i++) {
            //Temperature
            tempData.addRow([new Date(json[i].created.date), json[i].temperature]);
            statData.addRow([new Date(json[i].created.date), json[i].diff_protection, json[i].voltage, json[i].amperage]);
          }
          temp.draw(tempData, tempOpts);
          stat.draw(statData, statOptions);
          autoUpdateStat = false;
        });
      }

      function onReadyG() {
        jQuery("#gLoading").hide();
      }

      function onReady() {
        jQuery("#mLoading").hide();
      }
    </script>
{% endblock %}
{% block jquery %}
$( "#from" ).datepicker({
  dateFormat: "yy-mm-dd",
  changeMonth: true,
  onSelect: function( selectedDate ) {
    $( "#to" ).datepicker( "option", "minDate", selectedDate );
  }
});
$( "#to" ).datepicker({
  dateFormat: "yy-mm-dd",
  changeMonth: true,
  onSelect: function( selectedDate ) {
    $( "#from" ).datepicker( "option", "maxDate", selectedDate );
  }
});

$("#reloadStat").click(function() {
  loadStatByPeriod($("#from").val()+" "+$("#from_h").val()+":"+$("#from_m").val(), $("#to").val()+" "+$("#to_h").val()+":"+$("#to_m").val());
  return false;
});

/**
 * Turn on/off transformator
 */
$("#turnTransOff").live("click", function() {
   $.get("{{ path("rz_main_default_turn", {id: trans.getId(), on: 0}) }}", function(data) {
    $("#currentState").html(data);
   });
   return false;
});

$("#turnTransOn").live("click", function() {
   $.get("{{ path("rz_main_default_turn", {id: trans.getId(), on: 1}) }}", function(data) {
    $("#currentState").html(data);
   });
   return false;
});

$.checkTrans = function() {
  $.get("{{ path("rz_main_default_check", {id: trans.getId()}) }}", function(data) {
    $("#currentState").html(data);
  });
  return false;
}

$.checkTrans();
{% endblock %}