<h3>
  {{ 'Current state' | trans }}:&nbsp;
  {% if trans.getStatus() == 0 %}
  <span class="label">{{ 'Offline' | trans }}</span>
  {% elseif trans.getStatus() == 1 %}
  <span class="label label-success">{{ 'Working' | trans }}</span>
  {% else %}
  <span class="label label-important">{{ 'Error' | trans }}!</span>
  {% endif %}
</h3>
<div class="center" style="margin-top: 10px;">
{% if trans.getStatus() == 1 %}
  <a href="#" class="btn btn-danger" id="turnTransOff">
    <i class="icon-off icon-white"></i>
    {{ 'Turn OFF' | trans }}
  </a>
{% else %}
  <a href="#" class="btn btn-success" id="turnTransOn">
    <i class="icon-ok"></i>
    {{ 'Turn ON' | trans }}
  </a>
{% endif %}
</div>